<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div>{{name}}</div>
<div ng-controller='MyController'>
	{{person.hello}}
</div>
<div ng-controller="ParentController"> 
  <div ng-controller="ChildController"> 
    <input type="text" ng-model="person.name" placeholder="Name"></input> 
    <a ng-click="sayHello()">点击</a> 
  </div> 
  {{ person }} 
</div>
</body>
	<script src="js/angular.js"></script>
	<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.run(function($rootScope){
		$rootScope.name = 'lihao';
	})
	app.controller('MyController',function($scope){
		$scope.person = {
			hello: "hello world"
		};
	});
	app.controller('ParentController', function($scope) { 
  		$scope.person = {greeted: false}; 
	}); 
  
	app.controller('ChildController', function($scope) { 
	  $scope.sayHello = function() { 
	    $scope.person.greeted = true; 
	    alert('true');
	  } 
	}); 
	</script>
</html>